In [50]:
import nltk 
import matplotlib.pyplot as plt
import pandas as pd
import random

In [44]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [45]:
train_data.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [46]:
train_data['text'] = train_data['text'].str.lower()

In [48]:
disaster_tweets = train_data[train_data['target'] == 1]['text']
non_disaster_tweets = train_data[train_data['target'] == 0]['text']

In [51]:
disaster_tweets.values[random.randint(0, 1000)]

'@hopefulbatgirl went down i was beaten and blown up. then next thing i know ra al ghul brought me back to life and i escaped and for a---'

In [60]:
non_disaster_tweets.values[random.randint(0, 1000)]

"@drake is body bagging meek meanwhile he's on tour with nicki all hush hush...he's put 2 diss tracks out and meek 0 but dude started it lol"

In [61]:
print(len(disaster_tweets))

3271